
.loaderBox {
   
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 15%;
}
.loadAnim {
    width: 200px;
    height: 200px;
    margin-top: 20%;
    margin-left: 40%;
    position: relative;
}
.loadeAnim1,
.loadeAnim2,
.loadeAnim3 {
    position: absolute;
    border-radius: 100%;
    border: 10px solid transparent;
}
.loadeAnim1 {
    width: 110px;
    height: 110px;
    border-top: 10px solid silver;
    border-bottom: 10px solid silver;
    top: 15px;
    left: 15px;
    animation: leftToRight 2s linear infinite;
}
.loadeAnim2 {
    width: 90px;
    height: 90px;
    border: 10px solid rgb(143, 125, 245);
    top: 25px;
    left: 25px;
}
.loadeAnim3 {
    width: 70px;
    height: 70px;
    border-right: 10px solid silver;
    border-left: 10px solid silver;
    top: 35px;
    left: 35px;
    animation: topToBottom 2s linear infinite;
}
@keyframes leftToRight {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@keyframes topToBottom {
    from {transform: rotate(0deg);}
    to {transform: rotate(-360deg);}
}


